
<div class="container">
    <div class="cards">
    <% @cocktails.each do |cocktail|%>
      <div class="card-category" style="background-image: linear-gradient(rgba(100,100,100,0.3), rgba(100,100,100,0.3)), url('<%= cl_image_path cocktail.photo.key, crop: :fill %>')">
        <%= link_to cocktail.name, cocktail_path(cocktail), class:"card-category-text" %>
        <%= link_to '+', cocktail, method: :delete, data: { confirm: 'Are you sure?' }, class:"card-remove-link" %>
      </div>
    <% end %>
    </div>
</div>
