<div class="text-center m-3">
  <h1 class="m-3">Let's add a new dose</h1>
  <div class="container w-50">
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description, placeholder: "6 ml" %>
      <%= f.association :ingredient, placeholder: "mint" %>
      <%= f.submit "Add a new dose", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
